@import url(./normalize.css);

@import url(./blocks/page.css);

@import url(./blocks/lead.css);

@import url(./blocks/intro.css);

@import url(./blocks/photo__grid.css);

@import url(./blocks/places.css);

@import url(./blocks/cover.css);

@import url(./blocks/footer.css);

@font-face{
  font-family:'Inter';
  src:url(./Inter-4.0/web/InterDisplay-Regular.woff2) format('woff2');
  font-weight:normal;
  font-style:normal
}

@font-face{
  font-family:'Inter';
  src:url(./Inter-4.0/web/InterDisplay-Bold.woff2) format(woff2);
  font-weight:bold;
  font-style:normal;
}
