.cover{
  width:1184px;
  height:740px;
  margin-top:105px;
  margin-left:48px;
  margin-right:48px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position:relative;
  }

  .cover__title{
    width:656px;
    height:76px;
    margin-left:300px;
    margin-top:243px;
    margin-bottom:32px;
    font-family:'Inter';
    font-weight:900;
    font-size:72px;
    line-height:76px;
    color:#FFFFFF;
    z-index:2;
  }

  .cover__subtitle{
    height:66px;
    margin-left:452px;
    margin-right:452px;
    font-family:'Inter';
    font-weight:400;
    font-size:18px;
    line-height:22px;
    color:#FFFFFF;
    z-index:2;
  }

  .cover__button{
    width:hug(198px);
    height:hug(48px);
    padding:13px 20px;
    margin-top:45px;
    margin-right:75px;
    border-radius:4px;
    background-color:#0278FE;
    text-decoration:none;
    color:#FFFFFF;
    font-family:'Inter';
    font-weight:600;
    font-size:18px;
    line-height:21.78px;
    z-index:2;
  }

  .cover__button:hover{
    background-color:#0256cc;
    cursor:pointer;
  }

  .cover__button:hover + .cover__background-image{
    opacity:0.3;
  }

  .cover__background-image{
    width:1184px;
    height:740px;
    position:absolute;
  }

  .cover__background-image:hover{
    opacity:0.3;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px){
    .cover{
      width:768px;
      height:740px;
      margin-top:2600px;
      margin-left:auto;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
    }

    .cover__title{
      width:656px;
      height:76px;
      font-size:72px;
      line-height:76px;
      margin-left:366px;
    }

    .cover__subtitle{
      width:280px;
      height:66px;
      font-size:18px;
      line-height:22px;
      margin-left:512px;
    }

    .cover__button{
      width:155px;
      height:22px;
      margin-left:126px;
      font-size:18px;
      line-height:22px;
      margin-right:130px;
    }

    .cover__background-image{
      width:768px;
      height:746px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    .cover{
      width:320px;
      height:254px;
      margin-top:5280px;
      margin-left:-1px;
    }

    .cover__title{
      width:288px;
      height:35px;
      margin-left:140px;
      margin-top:16px;
      margin-bottom:16px;
      font-size:32px;
      line-height:35px;
      align-items:center;
    }

    .cover__subtitle{
      width:192px;
      height:48px;
      margin-left:16px;
      margin-right:16px;
      font-size:14px;
      line-height:16px;
      align-items:center;

    }

    .cover__button{
      width:152px;
      height:22px;
      margin-top:16px;
      margin-right:2px;
      margin-bottom:auto;
      font-size:18px;
      line-height:22px;
    }

    .cover__background-image{
      width:322px;
      height:254px;
    }
  }
