.footer{
  width:1280px;
  height:132px;
}

.footer__copyright{
  margin-top:92px;
  margin-bottom:24px;
  margin-left:531px;
  width:191px;
  height:16px;
  font-family:'Inter';
  font-weight:400;
  font-size:12px;
  line-height:16px;
  color:#FFFFFF;
}

@media(max-with: 768px){
  .footer{
    width:768px;
    height:128px;
  }

  .footer__copyright{
    width:191px;
    height:16px;
    font-size:14px;
    line-height:16px;
  }
}

@media(max-width: 320px){
  .footer{
    width:191px;
    height:14px;
    margin-top:10px;
  }

  .footer__copyright{
    width:191px;
    height:14px;
    font-size:14px;
    line-height:14px;
    margin-left:80px;
  }
}