.photo-grid{
  max-width:1280px;
  display:grid;
  width:1184px;
  height:44px;
  top:92px;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows:repeat(2, 1fr);
  grid-gap:16px;
  margin:0;
  padding:0;
  list-style:none;
  margin-left:48px;
}

.photo-grid__item{
  width:284px;
  height:213px;
}


@media screen and (min-width: 768px) and (max-width: 1279px){
  .photo-grid{
    width:720px;
    height:1104px;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(4,1fr);
    grid-gap:10px;
    margin-left:60px;
    list-style:none;
  }

  .photo-grid__item{
    width:352px;
    height:264px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .photo-grid{
    margin-top:25px;
    width:288px;
    height:1812px;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:repeat(8,1fr);
    margin-left:16px;
  }

  .photo-grid__item{
    width:288px;
    height:216px;
  }
}






