.places{
  padding-top:450px;
}

.places__kiev{
  width:984px;
  height:756px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:repeat(4,1fr);
  margin-left:148px;
  margin-right:148px;
  grid-gap: 10px;
  grid-template-areas:
  "kiev-title kiev-artist"
  "kiev-image kiev-paragraph1"
  "kiev-image kiev-paragraph2"
  "kiev-button ."
  ;
}



.places__kiev-title{
  grid-area:kiev-title;
  width:422px;
  height:152px;
  font-family:'Inter';
  font-weight:900;
  font-size:72px;
  line-height:76px;
  color:#FFFFFF;
  margin:initial;
}

.places__kiev-artist{
  width:485px;
  height:45px;
  color:#FFFFFF;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:22px;
  margin:auto;
  grid-area:kiev-artist;
}

.places__kiev-artist-title{
color:#AAAAAA;
font-family:'Inter';
font-weight:400;
font-size:12px;
line-height:14.52px;
letter-spacing: 12%;
}

.places__kiev-image{
  width:460px;
  height:460px;
  grid-area:kiev-image;
}



.places__kiev-paragraph1{
  width:484px;
  height:203px;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:29.34px;
  color:#FFFFFF;
  margin:auto;
  grid-area:kiev-paragraph1;
}

.places__kiev-paragraph2{
  width:484px;
  height:232px;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:29.34px;
  color:#FFFFFF;
  margin: auto;
  grid-area:kiev-paragraph2;
}


.places__kiev-button{
  width:355px;
  height:48px;
  background-color:#0278FE;
  color:#FFFFFF;
  font-family: 'Inter';
  font-weight:600;
  font-size:18px;
  line-height:22px;
  grid-area:kiev-button;
  margin-top:48px;
  border-radius:4px;
}

.places__kiev-button:hover{
  background-color:#0256cc;
}

.places__criccieth{
  width:984px;
  height:756px;
  margin-left:148px;
  margin-right:148px;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows:repeat(4, 1fr);
  grid-gap:10px;
  grid-template-areas:
  "criccieth-title criccieth-artist"
  "criccieth-image criccieth-paragraph1"
  "criccieth-image criccieth-paragraph2"
  "criccieth-button .";
}

.places__criccieth-title{
  width:485px;
  height:152px;
  margin:auto;
  font-family:'Inter';
  font-weight:900;
  font-size:72px;
  line-height:76px;
  color:#FFFFFF;
  grid-area:criccieth-title;
}

.places__criccieth-artist{
  width:485px;
  height:22px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:22px;
  color:#FFFFFF;
  grid-area:criccieth-artist;
}

.places__criccieth-artist-title{
  width:67px;
  height:15px;
  margin:auto;
  font-family: 'Inter';
  font-weight:400;
  font-size:12px;
  line-height: height 14.52px;
  color:#AAAAAA;
  letter-spacing: 12%;
}

.places__criccieth-image{
  width:460px;
  height:460px;
  grid-area:criccieth-image;
}

.places__criccieth-paragraph1{
  width:484px;
  height:174px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:29.34px;
  color:#FFFFFF;
  grid-area:criccieth-paragraph1;
}

.places__criccieth-paragraph2{
  width:484px;
  height:261px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:29.34px;
  color:#FFFFFF;
  grid-area:criccieth-paragraph2;
}

.places__criccieth-button{
  width:355px;
  height:48px;
  margin-top:48px;
  background-color:#0278FE;
  color:#FFFFFF;
  font-family:'Inter';
  font-weight:600;
  font-size:18px;
  line-height:21.78px;
  border-radius:4px;
  grid-area:criccieth-button;
}

.places__criccieth-button:hover{
  background-color:#0256cc;
}

.places__berea{
  width:984px;
  height:725px;
  margin-left:148px;
  margin-right:148px;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows:repeat(4, 1fr);
  grid-gap:10px;
  grid-template-areas:
  "berea-title berea-artist"
  "berea-image berea-paragraph1"
  "berea-image berea-paragraph2"
  "berea-button ."
  ;
}

.places__berea-title{
 width:485px;
 height:152px;
 margin:auto;
 font-family:'Inter';
 font-weight:900;
 font-size:72px;
 line-height:76px;
 color:#FFFFFF;
 grid-area:berea-title;
}

.places__berea-artist{
  width:485px;
  height:22px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:22px;
  color:#FFFFFF;
  grid-area:berea-artist;
}

.places__berea-artist-title{
  width:58px;
  height:15px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:12px;
  line-height:14.52px;
  letter-spacing:12%;
  color:#AAAAAA;
}

.places__berea-image{
  width:460px;
  height:460px;
  grid-area:berea-image;
}

.places__berea-paragraph1{
  width:484px;
  height:290px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:29.34px;
  color:#FFFFFF;
  grid-area:berea-paragraph1;
}

.places__berea-paragraph2{
  width:484px;
  height:203px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:29.34px;
  color:#FFFFFF;
  grid-area:berea-paragraph2;
}

.places__berea-button{
  width:355px;
  height:48px;
  border-radius:4px;
  background-color:#0278FE;
  color:#FFFFFF;
  font-family:'Inter';
  font-weight:600;
  font-size:18px;
  line-height:21.78px;
  grid-area:berea-button;
}

.places__berea-button:hover{
  background-color:#0256cc;
}

.places__muramvya{
  width:984px;
  height:859px;
  margin-left:148px;
  margin-right:148px;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:repeat(4, 1fr);
  grid-gap:10px;
  grid-template-areas:
  "muramvya-title muramvya-artist"
  "muramvya-image muramvya-paragraph1"
  "muramvya-image muramvya-paragraph2"
  "muramvya-button muramvya-paragraph3"
  ;
}

.places__muramvya-title{
  width:460px;
  height:152px;
  margin:initial;
  font-family:'Inter';
  font-weight:900;
  font-size:72px;
  line-height:76px;
  color:#FFFFFF;
  grid-area:muramvya-title;
}

.places__muramvya-artist{
  width:485px;
  height:22px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:22px;
  color:#FFFFFF;
  grid-area:muramvya-artist;
}

.places__muramvya-artist-title{
  width:58px;
  height:15px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:12px;
  line-height:14.52px;
  letter-spacing:12%;
  color:#AAAAAA;
}

.places__muramvya-image{
  width:460px;
  height:460px;
  grid-area:muramvya-image;
}

.places__muramvya-paragraph1{
  width:484px;
  height:174px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:29.34px;
  color:#FFFFFF;
  grid-area:muramvya-paragraph1;
}

.places__muramvya-paragraph2{
  width:484px;
  height:203px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:29.34px;
  color:#ffffff;
  grid-area:muramvya-paragraph2;
}

.places__muramvya-paragraph3{
  width:484px;
  height:232px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:29.34px;
  color:#FFFFFF;
  grid-area:muramvya-paragraph3;
}

.places__muramvya-button{
  width:355px;
  height:48px;
  border-radius:4px;
  background-color:#0278FE;
  color:#FFFFFF;
  font-family:'Inter';
  font-weight:600;
  font-size:18px;
  line-height:21.78px;
  grid-area:muramvya-button;
  margin-top:96px;
}

.places__muramvya-button:hover{
  background-color:#0256cc;
}

.places__tijuana{
  width:984px;
  height:756px;
  margin-left:148px;
  margin-right:148px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:repeat(4,1fr);
  grid-gap:10px;
  grid-template-areas:
  "tijuana-title tijuana-artist"
  "tijuana-image tijuana-paragraph1"
  "tijuana-image tijuana-paragraph2"
  "tijuana-button .";
}

.places__tijuana-title{
  width:485px;
  height:152px;
  margin:auto;
  font-family:'Inter';
  font-weight:900;
  font-size:72px;
  line-height:76px;
  color:#FFFFFF;
  grid-area:tijuana-title;
}

.places__tijuana-artist{
  width:485px;
  height:22px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:22px;
  color:#FFFFFF;
  grid-area:tijuana-artist;
}

.places__tijuana-artist-title{
  width:58px;
  height:15px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:12px;
  line-height:14.52px;
  letter-spacing:12%;
  color:#AAAAAA;
}

.places__tijuana-image{
  width:460px;
  height:460px;
  grid-area:tijuana-image;
}

.places__tijuana-paragraph1{
  width:484px;
  height:200px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:29.34px;
  color:#FFFFFF;
  grid-area:tijuana-paragraph1;
}

.places__tijuana-paragraph2{
  width:484px;
  height:120px;
  margin:auto;
  font-family:'Inter';
  font-weight:400;
  font-size:18px;
  line-height:29.34px;
  color:#FFFFFF;
  grid-area:tijuana-paragraph2;
}

.places__tijuana-button{
  width:355px;
  height:48px;
  border-radius:4px;
  background-color:#0278FE;
  color:#FFFFFF;
  font-family:'Inter';
  font-weight:600;
  font-size:18px;
  line-height:21.78px;
  grid-area:tijuana-button;
  margin-top:120px;
}

.places__tijuana-button:hover{
  background-color:#0256cc;
}

@media(max-width:768px){

  .places{
    width:720px;
    height:1169px;
    margin-top:-350px;
    margin-left:-113px;
  }

  .places__kiev{
    width:720px;
    height:600px;

  }

  .places__kiev-title{
    width:340px;
    height:46px;
    font-size:42px;
    line-height:46px;
  }

  .places__kiev-artist{
    width:355px;
    height:44px;
    font-size:18px;
    line-height:22px;
  }

  .places__kiev-artist-title{
    width:58px;
    height:15px;
    font-size:12px;
    line-height:14px;
    letter-spacing:12%;
  }

  .places__kiev-image{
    width:340px;
    height:340px;
  }

  .places__kiev-paragraph1{
    width:352px;
    height:234px;
    font-size:16px;
    line-height:26px;
  }

  .places__kiev-paragraph2{
    width:352px;
    height:260px;
    font-size:16px;
    line-height:26px;
  }

  .places__kiev-button{
    width:340px;
    height:48px;
    font-size:18px;
    line-height:22px;
    margin-top:-100px;
  }

  .places__criccieth{
    width:720px;
    height:632px;
  }

  .places__criccieth-title{
    width:340px;
    height:46px;
    font-size:42px;
    line-height: 46px;
  }

  .places__criccieth-artist{
    width:352px;
    height:62px;
    font-size:18px;
    line-height:22px;
  }

  .places__circcieth-artist-title{
    width:67px;
    height:15px;
    font-size:12px;
    line-height:14px;
    letter-spacing:12%;
  }

  .places__criccieth-image{
    width:340px;
    height:340px;
  }

  .places__criccieth-paragraph1{
    width:352px;
    height:208px;
    font-size:16px;
    line-height:26px;
  }

  .places__criccieth-paragraph2{
    width:352px;
    height:286px;
    font-size:16px;
    line-height:26px;
  }

  .places__criccieth-button{
    width:340px;
    height:48px;
    font-size:18px;
    line-height:22px;
    margin-top:-100px;
  }

  .places__berea{
    width:720px;
    height:634px;
  }

  .places__berea-title{
    width:340px;
    height:92px;
    font-size:42px;
    line-height:46px;
  }

  .places__berea-artist{
    width:390px;
    height:22px;
    font-size:18px;
    line-height:22px;
  }

  .places__berea-artist-title{
    width:58px;
    height:15px;
    font-size:12px;
    line-height:14px;
    letter-spacing:12%;
  }

  .places__berea-image{
    width:340px;
    height:340px;
  }

  .places__berea-paragraph1{
    width:352px;
    height:312px;
    font-size:16px;
    line-height:26px;
  }

  .places__berea-paragraph2{
    width:352px;
    height:208px;
    font-size:16px;
    line-height:26px;
  }

  .places__berea-button{
    width:340px;
    height:48px;
    font-size:18px;
    line-height:22px;
    margin-top:-100px;
  }

  .places__muramvya{
    width:720px;
    height:845px;
  }

  .places__muramvya-title{
    width:340px;
    height:92px;
    font-size:42px;
    line-height:46px;
  }

  .places__muramvya-artist{
    width:352px;
    height:22px;
    font-size:18px;
    line-height:22px;
  }

  .places__muramvya-artist-title{
    width:58px;
    height:15px;
    font-size:12px;
    line-height:14px;
    letter-spacing:12%;
  }

  .places__muramvya-image{
    width:340px;
    height:340px;
  }

  .places__muramvya-paragraph1{
    width:352px;
    height:208px;
    font-size:16px;
    line-height:26px;
  }

  .places__muramvya-paragraph2{
    width:352px;
    height:234px;
    font-size:16px;
    line-height:26px;
  }

  .places__muramvya-paragraph3{
    width:352px;
    height:260px;
    font-size:16px;
    line-height:26px;
  }

  .places__muramvya-button{
    width:340px;
    height:48px;
    font-size:18px;
    line-height:22px;
    margin-top:-50px;
  }

  .places__tijuana{
    width:720px;
    height:632px;
  }

  .places__tijuana-title{
    width:340px;
    height:46px;
    font-size:42px;
    line-height:46px;
  }

  .places__tijuana-artist{
    width:480px;
    height:44px;
    font-size:18px;
    line-height: 22px;
  }

  .places__tijuana-artist-title{
    width:58px;
    height:15px;
    font-size:12px;
    line-height:14px;
    letter-spacing:12%;
  }

  .places__tijuana-image{
    width:340px;
    height:340px;
  }

  .places__tijuana-paragraph1{
    width:352px;
    height:232px;
    font-size:16px;
    line-height:26px;
    margin:initial;
  }

  .places__tijuana-paragraph2{
    width:354px;
    height:120px;
    font-size:16px;
    line-height:26px;
    margin:initial;
  }

  .places__tijuana-button{
    width:340px;
    height:48px;
    font-size:18px;
    line-height:22px;
    margin-top:100px;
  }
}




@media (max-width: 320px){
  .places{
    width:320px;
    height:1169px;
    margin-top:-350px;
    margin-left:4px;
  }
  .places__kiev{
    width:320px;
    height:1169px;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:repeat(6,1fr);
    margin-left:16px;
    margin-right:16px;
    grid-gap:10px;
    grid-template-areas:
    "kiev-title"
    "kiev-artist"
    "kiev-image"
    "kiev-paragraph1"
    "kiev-paragraph2"
    "kiev-button";
  }

  .places__kiev-title{
    width:288px;
    height:35px;
    font-size:32px;
    line-height:35px;
  }

  .places__kiev-artist{
   width:288px;
   height:44px;
   top:3552px;
   left:16px;
   font-size:18px;
   line-height:22px;
   margin:2px;
   margin-bottom:10px;
  }

  .places__kiev-artist-title{
    width:288px;
    height:15px;
    font-size:12px;
    line-height:14px;
    letter-spacing:12%;
  }

  .places__kiev-image{
    width:285px;
    height:300px;
  }

  .places__kiev-paragraph1{
    width:288px;
    height:286px;
    font-size:16px;
    line-height:26px;
    margin-right:30px;
  }

  .places__kiev-paragraph2{
    width:288px;
    height:338px;
    font-size:16px;
    line-height:26.08px;
    margin-right:30px;
  }

  .places__kiev-button{
    width:288px;
    height:45px;
    font-size:14px;
    line-height:17px;
    margin-top:auto;
  }

  .places__criccieth{
    width:320px;
    height:1209px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:repeat(6,1fr);
    margin-left:16px;
    margin-right:16px;
    grid-gap:10px;
    grid-template-areas:
    "criccieth-title"
    "criccieth-artist"
    "criccieth-image"
    "criccieth-paragraph1"
    "criccieth-paragraph2"
    "criccieth-button";
  }

  .places__criccieth-title{
    width:288px;
    height:35px;
    font-size:32px;
    line-height:35px;
    margin-top:50px;
  }

  .places__criccieth-artist{
    width:288px;
    height:22px;
    font-size:18px;
    line-height:22px;
    margin-bottom:60px;
  }

  .places__criccieth-artist-title{
   width:288px;
   height:15px;
   font-size:12px;
   line-height:14px;
   letter-spacing:12%;
  }

  .places__criccieth-image{
    width:285px;
    height:300px;
  }

  .places__criccieth-paragraph1{
    width:288px;
    height:260px;
    font-size:16px;
    line-height:26px;
    margin-right:30px;
  }

  .places__criccieth-paragraph2{
    width:288px;
    height:364px;
    font-size:16px;
    line-height:26px;
    margin-right:30px;
  }

  .places__criccieth-button{
    width:288px;
    height:45px;
    font-size:14px;
    line-height:17px;
    margin-top:-20px;
  }

  .places__berea{
    width:320px;
    height:1186px;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:repeat(6,1fr);
    margin-left:16px;
    margin-right:16px;
    grid-gap:16px;
    grid-template-areas:
    "berea-title"
    "berea-artist"
    "berea-image"
    "berea-paragraph1"
    "berea-paragraph2"
    "berea-button";
  }

  .places__berea-title{
    width:288px;
    height:35px;
    font-size:32px;
    line-height:35px;
    margin-bottom:40px;
  }

  .places__berea-artist{
    width:288px;
    height:22px;
    font-size:18px;
    line-height:22px;
    margin-bottom:10px;
  }

  .places__berea-artist-title{
    width:288px;
    height:15px;
    font-size:12px;
    line-height:14px;
    letter-spacing:12%;
  }

  .places__berea-image{
    width:285px;
    height:300px;
  }

  .places__berea-paragraph1{
    width:288px;
    height:390px;
    font-size:16px;
    line-height:26px;
    margin-right:30px;
  }

  .places__berea-paragraph2{
    width:288px;
    height:260px;
    font-size:16px;
    line-height:26px;
    margin-right:30px;
  }

  .places__berea-button{
    width:288px;
    height:45px;
    font-size:14px;
    line-height:17px;
    margin-top:20px;
  }

  .places__muramvya{
    width:320px;
    height:1433px;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:repeat(7,1fr);
    margin-left:16px;
    margin-right:16px;
    grid-gap:16px;
    grid-template-areas:
    "muramvya-title"
    "muramvya-artist"
    "muramvya-image"
    "muramvya-paragraph1"
    "muramvya-paragraph2"
    "muramvya-paragraph3"
    "muramvya-button";
  }

  .places__muramvya-title{
    width:288px;
    height:70px;
    font-size:32px;
    line-height:35px;
    margin-top:40px;
  }

  .places__muramvya-artist{
    width:288px;
    height:44px;
    font-size:18px;
    line-height:22px;
  }

  .places__muramvya-artist-title{
    width:288px;
    height:15px;
    font-size:12px;
    line-height:14px;
    letter-spacing:12%;
  }

  .places__muramvya-image{
    width:285px;
    height:300px;
  }

  .places__muramvya-paragraph1{
    width:288px;
    height:234px;
    font-size:16px;
    line-height:26px;
    margin-right:30px;
  }

  .places__muramvya-paragraph2{
    width:288px;
    height:260px;
    font-size:16px;
    line-height:26px;
    margin-right:30px;
  }

  .places__muramvya-paragraph3{
    width:288px;
    height:312px;
    font-size:16px;
    line-height:26px;
    margin-right:30px;
  }

  .places__muramvya-button{
    width:288px;
    height:45px;
    font-size:14px;
    line-height:17px;
    margin-top:20px;
    margin-bottom:80px;
  }

  .places__tijuana{
    width:320px;
    height:626px;
    grid-template-columns:1,1fr;
    grid-template-rows:6,1fr;
    margin-left:16px;
    margin-right:16px;
    grid-gap:16px;
    grid-template-areas:
    "tijuana-title"
    "tijuana-artist"
    "tijuana-image"
    "tijuana-paragraph1"
    "tijuana-paragraph2"
    "tijuana-button";
  }

  .places__tijuana-title{
    width:288px;
    height:35px;
    font-size:32px;
    line-height:35px;
  }

  .places__tijuana-artist{
    width:288px;
    height:22px;
    font-size:18px;
    line-height:22px;
    margin-bottom:10px;
  }

  .places__tijuana-artist-title{
    width:288px;
    height:15px;
    font-size:12px;
    line-height:14px;
    letter-spacing:12%;
  }

  .places__tijuana-image{
    width:285px;
    height:300px;
  }

  .places__tijuana-paragraph1{
    width:288px;
    height:280px;
    font-size:16px;
    line-height:26px;
    margin-right:30px;
  }

  .places__tijuana-paragraph2{
    width:288px;
    height:200px;
    font-size:16px;
    line-height:26px;
    margin-right:30px;
  }

  .places__tijuana-button{
    width:288px;
    height:45px;
    font-size:14px;
    line-height:17px;
    margin-top:20px;
  }
}

